@charset "UTF-8";

* {
	all: initial;
	display: block;
	width: 100%;
	font: 100% sans-serif;
}

html, body {
	height: 100%;
}

head {
	display: none;
}

#div_converter {
	box-sizing: border-box;
	height: 100%;
	position: relative;
	padding: 7px;
}

#div_IPA {
	box-sizing: border-box;
	height: 50%;
	padding-bottom: 4px;
	position: relative;
}

#div_XSAMPA {
	box-sizing: border-box;
	height: 50%;
	padding-top: 4px;
	position: relative;
}

textarea {
	height: 100%;
	border: solid 1px gray;
	padding: 2px;
	resize: none;
	position: relative;
	top: -3px;
	left: -3px;
	border-radius: 2px;
	white-space: pre;
}

textarea:focus {
	outline: none;
	border: solid 2px orange;
	top: -4px;
	left: -4px;
}
